root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.csv]
max_line_length = 2147483647
trim_trailing_whitespace = false
ij_csv_wrap_long_lines = false

[*.md]
trim_trailing_whitespace = false
